@font-face {
    font-family: 'dosis.bold';
    src: url('https://www.1001fonts.com/download/font/dosis.bold.ttf');
}

@font-face {
    font-family: 'dosis.medium';
    src: url('https://www.1001fonts.com/download/font/dosis.medium.ttf');
}

body {
    background-color: rgb(38, 38, 41);
}

h1 {
    color: rgb(187, 197, 255);
    margin-top: 20px;
}

p {
    color: rgb(255, 255, 255);
}

div {
    padding: 25px 100px 75px 100px;
}

h3 {
    color: rgb(255, 255, 255);
}